<html>
<body>

This page allows you to enter a new project into our system.
<p>

<form action="/newproject">
<label for="title">project name</label>
<input type="text" name='title' value={{title}}></input> <!--pre-populate github from previous page here?-->

<p>
	Enter project information here:
<p>
<label for='description'>description</label>
<input type="text" name='description'></input>
<p>
<label for='max_grade'>max grade</label>
<input type="text" name='max_grade'></input>
<input type="submit"/>
</form>

</body>
</html>