<html>
<body>
<h1>Student: {{last_name}}, {{first_name}}</h1>
<h2>Github account: {{github}}</h2>

<table border="1">
  <tr>
    <th>Project</th>
    <th>Grade</th>
  </tr>
  
    {% for item in grades_list %}
  <tr>
  	<td>{{item[0]}}</td>
  	<td>{{item[1]}}</td>
   </tr>
{% endfor %}
 
</table>


<p>This student has shown extreme recalcitrance and has generally proved to be unreliable.</p>
<p>It is my recommendation that they be put on double-secret probation for the remainder of the course.</p>
</body>
</html>